@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

.custom-control-label:before {
    cursor: pointer;
}

.nav-sidebar .nav-item>.nav-link .right:before {
    content: "\f107";
}

.nav-sidebar .nav-item.menu-open>.nav-link .right {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.nav-sidebar .nav-treeview .nav-item {
    margin-left: 20px;
}

.providers-selected {
    font-size: 14px;
}

.img-gallery {
    text-align: right;
}

.check_btn {
    margin: 0;
}

.check_btn span {
    font-weight: normal;
}

.check_btn #allcheck {
    position: absolute;
    opacity: 0;
}

th.select-checkbox label {
    margin-bottom: 0;
    cursor: pointer;
}

#text,
#description {
    width: 100%;
    min-height: 100px;
    height: 260px;
}

.brand-image {
    display: none;
}

.brand-text {
    font-family: 'Comforter Brush', cursive;
    color: #fff;
    margin-left: 15px;
    font-size: 30px;
    line-height: 30px;
}

.nav-sidebar .nav-item>.nav-link {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

#accordion .box-header.with-border {
    border-bottom: 1px solid hsla(0, 0%, 63.5%, .2);
}

#accordion .box-header .box-title {
    margin-top: 0.5rem;
}

#accordion .box-header h4 a i {
    font-size: 20px;
}

#accordion .box-header h4 a.collapsed i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#accordion .box-header h4 a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#accordion .sale {
    display: flex;
    column-gap: 20px;
}

#accordion .sale .sale-section {
    font-size: 16px;
    width: 50%;
}

#accordion .sale .sale-section .secton-title {
    font-size: 18px;
    color: #8e8e8e;
    padding: 15px 0;
    border-bottom: 1px solid hsla(0, 0%, 63.5%, .2);
}

#accordion .sale .sale-section .section-content {
    padding: 20px 0;
}

#accordion .sale .sale-section .section-content label {
    font-weight: normal;
}

#accordion .sale .sale-section .section-content .section-row {
    padding-top: 7px;
    padding-bottom: 7px;
}

#accordion .sale .sale-section .section-content .section-row .title {
    width: 200px;
    color: #3a3a3a;
    display: inline-block;
}

#accordion .sale .sale-section .section-content .section-row .value {
    color: #3a3a3a;
    display: inline-block;
}

#accordion .sale-summary {
    margin-top: 20px;
    float: right;
}

#accordion .sale-summary tr.bold {
    font-weight: 600;
    font-size: 15px;
}

#accordion .sale-summary tr.border_b {
    border-bottom: 1px solid hsla(0, 0%, 63.5%, .2);
}

#accordion .sale-summary tr td {
    padding: 5px 8px;
    vertical-align: text-bottom;
}

.panel table td {
    vertical-align: middle;
}

@media (max-width: 991px) {
    #accordion .sale {
        flex-direction: column;
    }

    #accordion .sale .sale-section {
        width: 100%;
    }
}

.video-icon img {
    width: 30px;
    position: absolute;
    z-index: 20;
    right: 5px;
    margin-top: 5px;
}

.list-video-icon img {
    right: 10px !important;
}