/*===============================================================================
	Chat
===============================================================================*/

.chat_fixed {
  position: fixed;
  right: 0;
  bottom: -463px;
  z-index: 999999;
  transition: all .6s ease;
}

.chat_fixed.opened {
  bottom: 0 !important;
}

.chat_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  outline: 0;
  width: 420px;
  height: 510px;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  margin: auto;
}

.chat_header {
  width: 100%;
}

.chat_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid #e9ecef;
  background: #FAFAFA;
}

.chat__resizer {
  transform: rotate(-90deg);
  position: relative;
  right: 15px;
  bottom: 0px;
}

.chat_header p {
  margin-bottom: 0;
}

.chat_title p {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #9C9898;
}

.chat_count {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-self: center;
  background: #2D8CE3;
  border-radius: 50%;
}

.chat_count p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.chat_block_buttons button {
  margin-left: 20px;
  width: 16px;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 0;
  outline: none;
}

.chat_lang {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_close svg path {
  transition: all .4s ease;
}

.chat_close:hover svg path {
  fill: #000;
}

.chat_fixed .chat_close svg {
  transition: all .4s ease;
  transform: rotate(-180deg);
}

.chat_fixed.opened .chat_close svg {
  transform: rotate(0deg);
}

.chat_body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0;
  max-height: 390px;
  overflow: auto;
}

.chat_body::-webkit-scrollbar {
  width: 5px;
  background-color: var(--gray-color);
}

.chat_body::-webkit-scrollbar-thumb {
  background: var(--body-color);
}

.chat_body .chat_block {
  display: flex;
  padding: 15px 20px;
  border-bottom: 1px solid #E3E3E3;
}

.chat_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 15px 20px;
  border-top: 1px solid #e9ecef;
  background-color: #E0E0E0;
}

.block_wrap {
  position: relative;
  margin-right: 5px;
}

.block_wrap .form-control {
  padding-right: 40px;
  height: calc(1.5em + .75rem + 7px);
}

.block_wrap .chat_icons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  width: 40px;
  background: transparent;
  outline: none;
}

.emojionearea .emojionearea-button {
  top: 7px;
  right: 5px;
}

.emojionearea .emojionearea-editor {
  padding-top: 9px;
}

.chat_file {
  border: 1px solid var(--blue-color);
  width: 50px;
  margin-right: 5px;
  outline: none !important;
  transition: all .4s ease;
}

.chat_file:hover {
  border-color: var(--red-color);
}

.chat_file svg path,
.chat_icons svg path {
  transition: all .4s ease;
}

.chat_file:hover svg path {
  fill: var(--red-color);
}

.chat_icons:hover svg path {
  fill: var(--blue-color);
}

.chat_send {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  background-color: var(--blue-color);
  width: 64px;
  transition: all .4s ease;
  outline: none;
}

.chat_send:hover {
  background-color: var(--red-color);
}

.chat_block.right {
  background-color: #FAFAFA;
}

.chat_block.left .chat_image {
  padding-right: 12px;

}

.chat_image img {
  object-fit: cover;
  height: 50px;
  border-radius: 50px;
  width: 50px;
}

.chat_block.right .chat_image {
  padding-left: 12px;
  max-width: 62px;
}

.chat_block.right .chat_content {
  width: 100%;
}

.chat_block.right .chat_content p,
.chat_block.right .chat_content div {
  text-align: right;
}

.chat_block:last-child {
  border-bottom: 0;
}

.chat_content p,
.chat_block.right .chat_content div {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #535353;
  margin-bottom: 0;
}

.chat_content .emojioneemoji {
  max-width: 15px;
}

.chat_content .chat_date {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #9C9898;
  margin-top: 5px;
}

.chat_active_msg .bg-red {
  background-color: #dd4b39 !important;
}

.chat_active_msg .badge {
  position: relative;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.chat_change_wrapper {
  padding: 20px 30px;
}

.chat_change_wrapper p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #535353;
}

.chat_change_wrapper .cart_buttons {
  text-align: center;
}

.chat_change_wrapper .btn_cart {
  margin-top: 30px;
  width: 255px;
  outline: none !important;
  border: 0;
}


@media (max-width:1199px) {
  footer {
    padding-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .chat_wrapper {
    max-width: 340px;
  }

  .chat_change_wrapper p {
    font-size: 16px;
    line-height: 24px;
  }

  .chat_wrapper {
    min-height: 600px !important;
  }

  body .chat_button .newmsg {
    bottom: 22px;
    right: 22px;
  }
}

.chat_button {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999999;
  border: 0;
  background: transparent;
  width: 60px;
  height: 60px;
  outline: none;
  padding: 0;
}

.chat_button:focus {
  outline: none;
}

.chat_button img {
  display: block;
  width: 100%;
}

.chat_button+.chat_fixed {
  bottom: -100%;
}

#res-area {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat_wrapper {
  min-width: 420px;
  min-height: 510px;
}

.imageModal-content {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: cover;
}

img.chat-image {
  max-width: 130px;
  cursor: pointer;
  margin: 15px 0px;
}

#messages-list .messenger-messagingView .m-body {
  height: calc(100% - 45px);
  padding: 0;
}

.messenger-messagingView .m-body {
  height: calc(100% - 85px);
  padding: 0;
}

.messenger-messagingView .m-body .messages .message-card {
  margin: 5px 15px;
  display: inline-flex;
}

.fa-paperclip {
  font-size: 19px !important;
}