@media (min-width: 2000px) {
    .catalogue_wrapper .product {
        margin: 25px auto;
        max-width: 435px;
    }
}

@media (min-width: 1600px) {
    .banner_left .banner_block {
        padding-left: 30px;
    }

    .banner_right .banner_block {
        padding-right: 30px;
    }

    .cart_wrapper {
        padding: 0 50px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .banner1 p {
        font-size: 90px;
    }

    .banner2 {
        left: calc(50% - 381px / 2);
    }

    .banner2 p {
        font-size: 90px;
    }

    .dt2 {
        font-size: 150px;
        line-height: 150px;
    }

    .cart_table,
    .cart_checkout {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        background: #fff;
        box-shadow: 0 0 5px 1px rgb(0 0 0 / 20%);
    }

    .sticky+.contents {
        padding-top: 90px;
    }

    .catalogue_wrapper .product_image {
        height: 400px !important;
    }

    #searchSection .catalogue_wrapper .product {
        flex: 0 0 25%;
        max-width: 25%;
    }

    footer .mono-mobile {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .contents {
        min-height: calc(100Vh - 390px);
    }

    .navbar .navbar-nav .nav-item>a {
        padding: 30px 3px;
    }

    #currency-styler {
        margin-left: auto;
    }

    .banner1 p {
        font-size: 60px;
    }

    .banner2 {
        left: calc(50% - 254px / 2);
    }

    .banner2 p {
        font-size: 60px;
    }

    .dt1 {
        font-size: 30px;
        line-height: 30px;
    }

    .dt2 {
        font-size: 100px;
        line-height: 100px;
    }

    .btn_all {
        width: 180px;
        height: 50px;
        font-size: 16px;
        line-height: 17px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .contents {
        min-height: calc(100Vh - 270px);
    }

    .hc-nav-trigger {
        right: 30px;
    }

    .hc-offcanvas-nav .nav-container {
        width: 50%;
    }

    footer .footer_block .up {
        font-size: 16px;
    }

    .product_wrapper {
        max-width: 100%;
        width: 100%;
    }

    .tranding_box .product_image img,
    .tranding_box .product_image video {
        height: 400px;
    }
}


@media (min-width: 768px) {
    .owl-carousel .owl-item .product_wrapper img {
        object-fit: cover;
        height: 350px;
    }

    .catalogue_wrapper .product_image {
        height: 350px;
    }

    .catalogue_wrapper .product_image img {
        object-fit: cover;
        height: 100%;
    }

    /* .catalogue_wrapper,.control_wrapper{
        padding-left: 30px;
        padding-right: 30px;
    } */
    .single_image img {
        max-width: 450px;
    }

    .exerpt {
        display: block;
        height: 90px;
        overflow: hidden;
    }
}


@media (max-width: 1199px) {
    .owl-carousel .owl-next {
        right: -15px;
    }

    .owl-carousel .owl-prev {
        left: -15px;
    }

    footer {
        padding-bottom: 30px !important;
    }
}


@media (max-width: 991px) {
    .breadcrumb_wrapper {
        padding-top: 60px;
    }

    .breadcrumb-item {
        font-size: 12px;
    }

    .navbar {
        height: 60px;
    }

    .left_menu {
        max-width: 100px;
    }

    .right_menu {
        margin-left: auto;
        margin-right: 100px;
    }

    .menu_red {
        color: var(--red-color) !important;
    }

    .single_image {
        margin-bottom: 30px;
    }

    .single_wrapper {
        padding-top: 0;
    }

    .single_info ul li {
        margin-bottom: 15px;
    }

    .table .text_prod,
    .table .price,
    .all_price {
        font-size: 16px !important;
    }

    .quant_prod span {
        display: none
    }

    .single_image {
        margin-top: 15px;
    }

    .single_content {
        padding: 0 0 15px;
    }

    .single_content ul li {
        margin-bottom: 5px;
    }

    .table .text_prod,
    .table .price {
        font-size: 15px !important;
    }

    .all_price {
        margin-right: 10px;
    }

    .review_form .submit_btn {
        margin-top: 30px;
    }

    .review_form .submit_btn .submit {
        margin-left: 0;
        margin-right: auto;
    }

    .review_form .jq-file {
        max-width: 100%;
    }

    .form-s {
        width: 100%;
    }

    .trand_left .tranding_box {
        padding-left: 0px;
    }

    .trand_right .tranding_box {
        padding-right: 0px;
    }

    .kids_tranding_title,
    .woman_tranding_title {
        padding-left: 0px;
        margin-top: 30px;
    }
}

@media (max-width: 991px) {
    .mySwiper .swiper-slide video {
        display: none;
    }

    .video-thumb img {
        display: block !important;
    }

    .navbar {
        padding: 0 15px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar-brand {
        font-size: 35px;
    }

    .search-box {
        top: 60px;
        position: fixed;
        width: 100%;
    }

    .right_menu .jq-selectbox__select {
        height: 32px;
        width: 50px;
        padding: 0 15px 0 0;
        border: 1px solid transparent;
        border-radius: 0;
        background: 0 0;
        box-shadow: none;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: var(--body-color);
        text-shadow: none;
    }

    .right_menu .jq-selectbox__select-text {
        text-transform: uppercase;
    }

    .right_menu .jq-selectbox__trigger {
        width: 10px;
        height: 100%;
        border-left: 0;
    }

    .right_menu .jq-selectbox__trigger-arrow {
        top: 13px;
        left: 0;
        right: auto;
    }

    .right_menu .jq-selectbox__dropdown {
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 0;
        background: #fff;
        box-shadow: none;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
    }

    .right_menu .jq-selectbox li {
        padding: 0 10px;
        color: var(--body-color);
    }

    .right_menu a.cart:before {
        content: '';
        margin: 0;
    }

    .banners {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .feature-product-home .box-heading {
        font-size: 14px;
    }

    .right_menu a.cart.active:after {
        left: 6px;
    }

    .active_currency {
        padding: 0;
        color: #878787;
    }

    .active_currency svg path {
        fill: #878787;
    }

    .currency_blk:hover .active_currency {
        color: #878787;
    }

    .currency_blk:hover .active_currency svg path {
        fill: #878787;
    }

    #slider {
        padding-top: 60px;
    }

    #slider .owl-nav [class*=owl-],
    #slider .owl-nav [class*=owl-]:hover {
        background: rgb(0 0 0 / 20%) !important;
        color: #fff;
    }

    .menu_categories {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav-container .nav-close {
        display: none !important;
    }

    .navbar-brand {
        font-size: 30px;
        margin-right: 0;
    }

    h1,
    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 30px;
    }

    .contents {
        min-height: calc(100Vh - 414px);
    }

    .right_menu {
        margin-left: auto;
        margin-right: 60px;
        max-width: 165px;
    }

    .banner_block img {
        margin: 0 auto 30px;
    }

    .right_menu ul.list_menu li {
        margin-left: 20px;
        margin-right: 0;
    }

    .hc-nav-trigger {
        top: 18px;
        right: 15px;
    }

    #slider .cover {
        background-position: 55%;
        margin-top: 60px;
    }

    .dropshiping_wrapper {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .caption h1 {
        font-size: 72px;
    }

    .caption .mid {
        font-size: 48px;
    }

    .caption .bott {
        font-size: 38px;
    }

    .banner1 {
        top: calc(50% - 229px / 2);
        left: calc(50% - 244px / 2);
        text-align: center;
    }

    .banner1 p {
        font-size: 80px;
        margin-bottom: 0;
    }

    .banner2 p {
        font-size: 60px;
    }

    .banner2 {
        top: calc(50% - 224px / 2);
        left: calc(50% - 254px / 2);
        text-align: center;
    }

    .dt1 {
        font-size: 33px;
        line-height: 33px;
    }

    .dt2 {
        font-size: 130px;
        line-height: 130px;
    }

    .banner3 {
        top: calc(50% - 290px / 2);
        right: calc(50% - 228px / 2);
        text-align: center;
    }

    .owl-carousel .owl-next {
        right: 0;
    }

    .owl-carousel .owl-prev {
        left: 0;
    }

    .owl-dots {
        margin-top: 10px;
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: var(--main-color);
    }

    #slider .owl-nav {
        display: block;
    }

    .owl-nav {
        display: none;
    }

    .owl-carousel .owl-item .product_wrapper img {
        object-fit: cover;
        height: 360px;
    }

    .catalogue_wrapper .product_image img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .product_wrapper {
        max-width: 100%;
    }

    .tranding_box .product_image img,
    .tranding_box .product_image video {
        height: 100%;
    }

    footer {
        padding: 20px 0 !important;
    }

    footer .block_wrapper {
        display: block !important;
    }

    footer .second {
        margin-top: 17px;
    }

    footer .soc_wrapper {
        margin: 20px auto 0;
        float: none;
        display: flex;
        gap: 30px;
        align-items: center;
    }

    footer .mono-mobile {
        width: 30px;
        height: 30px;
        display: block;
        margin-left: 10px;
    }

    footer .mono {
        display: none;
    }

    footer .soc_wrapper h6 {
        margin-bottom: 0;
        font-size: 12px;
    }

    footer .footer_block.soc_wrapper a {
        padding: 10px;
    }

    .catalogue_wrapper .cat_product_wrapper {
        display: block;
        max-width: 435px;
        margin: 0 auto;
    }

    .page_head p {
        font-size: 16px;
        line-height: 26px;
    }

    .control_wrapper {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .leftblock_control p,
    .rightblock_control p {
        font-size: 16px;
    }

    .mob_block_control {
        padding: 20px 0;
    }

    .page-link {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .single_info .s_text p br {
        display: none;
    }

    .contact_right {
        margin-top: 20px;
    }

    .block_btn .submit_btn {
        margin-top: 20px;
    }

    .form-control,
    .table .text_prod,
    .table .price {
        font-size: 16px !important;
        white-space: nowrap;
    }

    .single_image {
        margin-top: 45px;
    }

    .single_content {
        padding: 15px;
    }

    .chat_btn {
        display: flex;
        justify-content: center;
    }

    .cart_buttons {
        flex-direction: column-reverse;
    }

    .all_price {
        display: block;
        margin: 0;
        padding: 30px 0;
        font-size: 22px !important;
    }

    .mob_cart>.row {
        border-bottom: 1px solid #E5E5E5;
    }

    .mob_cart>.row:last-child {
        border-bottom: 0;
    }

    .mob_cart .cart_img img {
        height: auto;
        width: 75px;
        border-radius: 10px;
        object-fit: cover;
    }

    .mob_cart .cart_prod {
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        align-self: center;
    }

    .mob_cart .text_prod {
        font-weight: 600;
        font-size: 18px;
        color: var(--body-color);
        margin-bottom: 0;
    }

    .mob_cart .remove {
        align-self: center;
    }

    .mob_cart .remove a {
        display: block;
        line-height: 0;
    }

    .cart_top,
    .cart_btm {
        margin-top: 20px;
    }

    .cart_btm .quantity {
        margin-right: 0;
    }

    .cart_btm .price {
        text-align: left;
    }

    .border {
        padding: 15px;
        flex-direction: column;
    }

    .review_image {
        width: 70px;
        margin-right: 0;
        align-self: center;
        margin-bottom: 15px;
    }

    .review_form .user_name,
    .user_name {
        margin-bottom: 20px;
        text-align: center;
    }

    .review_form textarea {
        height: 200px;
    }

    .user_text p {
        font-size: 16px;
        line-height: 24px;
    }

    .review_form .submit_btn .submit {
        max-width: 100%;
    }

    .submit_btn .submit {
        margin-left: 0;
        margin-right: auto;
        max-width: 100%;
    }

    .review .pagination {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .btn_cart,
    .chat_btn .btn_all {
        width: 100%;
    }

    #chat-widget .chat_wrapper {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }

    .chat_fixed {
        width: 100%;
    }

    #messages-list .messenger {
        display: block;
    }

    #messages-list .messenger-messagingView {
        position: absolute;
        top: auto;
        left: auto;
    }

    .date-filter ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .search_mobile button svg,
    .right_menu a.cart img {
        margin-right: 0;
    }

    .banners .banner-right .banner-figure:before,
    .banners .banner-left .banner-figure:before {
        content: '';
        display: none;
    }

    /* .banners .banner-right .banner-figcaption,
    .banners .banner-left .banner-figcaption {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        transform: none;
        margin-bottom: 20px;
    } */
    .banners .banner-right .banner-figcaption {
        left: 0;
    }

    .banners .banner-left .banner-figcaption {
        right: 0;
    }

    .banners .banner-right .banner-figcaption .banner-body,
    .banners .banner-left .banner-figcaption .banner-body {
        padding: 15px;
    }

    ul.pagination li {
        margin-bottom: 10px;
    }

    .page-item:first-child .page-link {
        margin-left: 5px;
    }

    .feature-product-home .product_info {
        margin-top: 10px;
    }

    .emojionearea.emojionearea-inline>.emojionearea-editor {
        font-size: 16px !important;
        height: 40px;
    }

    .chat__resizer {
        display: none;
    }

    .cart_top .quantity {
        margin-right: 0;
        height: 73px;
        align-self: center;
    }

    .cart_top .quantity input[type='text'] {
        width: 30px;
    }

    .cart_top .quantity .chick,
    .cart_top .quantity .chick input {
        height: 73px !important;
    }

    .cart_top .quantity .q_up,
    .cart_top .quantity .q_down {
        padding: 10px 7px 10px;
    }

    .catalogue_wrapper .product_image {
        height: 200px;
    }

    .button_single_wrap .btn_add,
    .button_single_wrap .btn_all {
        width: 100%;
    }

    .exerpt {
        display: block;
        height: 110px;
        overflow: hidden;
    }

    .fancybox-container .mob_prod_info {
        background: transparent;
        color: #fff;
    }

    .product-size-color {
        padding: 5px 0 0;
    }

    .product-size-color strong {
        display: flex;
        flex-direction: column;
    }

    .product-size-color strong+strong {
        margin-left: 0;
    }

    .product-total-price {
        margin-top: 2px !important;
    }

    .pay_select+.pay_select {
        margin-top: 15px;
    }

    .cat_product_wrapper .product_image a:hover img {
        filter: brightness(100%) !important;
        -webkit-filter: brightness(100%) !important;
    }
}


@media (max-width: 567px) {
    .hc-offcanvas-nav .nav-container {
        width: 100%;
    }
}


@media (orientation: landscape) and (max-width: 991px) {
    .caption {
        margin-top: 30px;
    }

    .caption .more {
        margin-top: 20px;
    }

    .caption h1 {
        font-size: 72px;
    }

    .caption .mid {
        font-size: 48px;
    }

    .caption .bott {
        font-size: 38px;
    }
}