/*===============================================================================
	BODY
===============================================================================*/

:root {
  --body-color: #535353;
  --red-color: #C1282D;
  --blue-color: #000;
  --white-color: #ffffff;
  --gray-color: #9C9898;
  --navbar-menu-color: #000;
  --gray-bg: #fafafa;
}

body {
  line-height: 1.42;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  color: var(--body-color) !important;
  background-color: #fff;
}

body p {
  line-height: 1.42;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: var(--body-color);
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.single-page h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
}

.single-page h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 20px;
}

a,
.btn-link {
  color: var(--blue-color);
  transition: all .4s ease 0s;
}

a:hover,
.btn-link:hover {
  color: var(--red-color);
  text-decoration: none;
}

.alert-success {
  background: #e9ecef;
  border-color: #e9ecef;
}

[class^="hvr-"] {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--blue-color);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
  color: var(--white-color);
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}



/*===============================================================================
	HEADER
===============================================================================*/

#top {
  position: relative;
  background: #000;
  color: #fff;
  font-family: 'poppins', sans-serif;
  font-size: 12px;
  z-index: 1010;
}

#top .jq-selectbox__select {
  height: 47px;
  width: 50px;
  padding: 0 15px 0 0;
  border: 1px solid transparent;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 44px;
  color: var(--body-color);
  text-shadow: none;
}

#top .jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid transparent;
}

#top .jq-selectbox__trigger-arrow {
  top: 20px;
  left: 0;
  right: auto;
  border-top: 5px solid #fff;
}

#top .jq-selectbox__trigger {
  width: 10px;
  height: 100%;
  border-left: 0;
}

#top .jq-selectbox__select-text {
  text-transform: uppercase;
  color: #fff;
}

#top .jq-selectbox__dropdown {
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 0;
  background: #FFF;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

#top .jq-selectbox li {
  padding: 0 10px;
  color: var(--body-color);
}

#top .jq-selectbox li:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

#top .items .item_text {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 19px;
}

#top .items .item a {
  display: block;
  padding: 15px 19px;
  color: #fff;
  text-transform: uppercase;
}

#top .items .item a:hover {
  color: var(--red-color);
}

#top .items .item {
  border-left: 1px solid #282828;
}

#top .items .item:first-child {
  border-left: 0;
}

#top .items .item ul li {
  border-right: 1px solid #282828;
}

#top .items .item ul li:last-child {
  border-right: 0;
}

#top .account {
  border-left: 1px solid #282828;
}

#top .account a {
  font-size: 12px;
  font-family: 'poppins', sans-serif;
  padding: 13px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-transform: capitalize;
}

#top .account a:hover {
  color: var(--red-color);
}

#top .account a svg path {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

#top .account a:hover svg path {
  stroke: var(--red-color);
}

#top .account a img,
#top .account a svg,
#top .account a .fas,
#top .account a .svg-inline--fa {
  width: 11px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: 'Comforter Brush', cursive;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.left_menu,
.right_menu {
  max-width: 220px;
  width: 100%;
}

.navbar-nav li {
  margin: 0 5px;
}

.navbar .navbar-nav .nav-item a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: var(--navbar-menu-color);
  transition: all .4s ease 0s;
}

.navbar .navbar-nav .nav-item>a {
  padding: 30px 8px;
}

.navbar .navbar-nav .nav-item:hover>a,
.navbar-nav .nav-item.active>a,
.submenu li.active>a {
  color: var(--red-color);
}

.menu_categories .submenu li.active>a {
  font-weight: bold;
}

.navbar .navbar-nav .nav-item:hover path {
  fill: var(--red-color);
}

.navbar .navbar-nav .nav-item.shares a {
  font-weight: 600;
  color: var(--red-color);
}

.right_menu ul {
  padding-top: 0;
}

.right_menu ul.list_menu li {
  text-align: center;
  margin-right: 10px;
  position: relative;
  align-self: center;
}

.right_menu a {
  display: block;
}

.right_menu a.cart {
  position: relative;
  display: flex;
  font-size: 14px;
  color: #000;
}

.right_menu a.cart:hover {
  color: var(--red-color);
}

.right_menu a.cart img {
  margin-right: 10px;
}

.right_menu a.cart:before {
  content: "|";
  margin-right: 10px;
  color: #000;
}

.right_menu a.cart.active:after {
  content: '';
  width: 11px;
  height: 11px;
  background: rgb(0 0 0 / 100%);
  border: 1px solid var(--white-color);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0px;
  left: 20px;
}

.submenu {
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  column-count: 2;
  transition: all .5s ease 0s;
  pointer-events: none;
  /* box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25); */
  border: 1px solid #dbdbdb;
}

/* .navbar-nav li:hover .submenu {
  opacity: 1;
  z-index: 999999;
  pointer-events: auto;
} */

#navbar_menu .navbar-nav .menu-parent {
  pointer-events: none;
}

#navbar_menu .navbar-nav li .submenu {
  transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0;
  transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transition: all .6s ease 0s;
  -webkit-transition: all .6s ease 0s;
  -moz-transition: all .6s ease 0s;
  -ms-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
}

#navbar_menu .navbar-nav li:hover .submenu {
  opacity: 1;
  z-index: 999999;
  pointer-events: auto;
  width: 100%;
  max-width: 600px;
  transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transition: all .6s ease 0s;
  -webkit-transition: all .6s ease 0s;
  -moz-transition: all .6s ease 0s;
  -ms-transition: all .6s ease 0s;
  -o-transition: all .6s ease 0s;
}

.navbar-nav li.btn-group {
  position: inherit;
  display: block;
  vertical-align: middle;
}

.navbar .submenu li {
  max-width: 350px;
  /* margin: 0 auto; */
}

.navbar .navbar-nav .nav-item .submenu li a {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  text-transform: capitalize;
  color: #666666;
  display: inline-block;
}

.navbar .navbar-nav .nav-item .submenu li a:hover {
  color: var(--red-color);
  text-decoration: none;
}

#search.fancybox-content {
  width: 100%;
  height: 100%;
  max-width: 100% !important;
}

.search-navigation {
  text-align: right;
}

.searchform {
  position: relative;
}

.form-s {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 18px;
  border: 1px solid var(--navbar-menu-color);
  outline: none !important;
  width: 280px;
  height: 30px;
  padding: 0 30px 0 10px;
}

#searchsubmit,
#searchsubmit-mobile {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 5px;
  background-color: transparent;
  outline: none !important;
  line-height: 0;
}

.searchform,
.form-s-mob {
  max-width: 100%;
}

.search_mobile button {
  display: flex;
  font-size: 14px;
  border: 0;
  background: transparent;
  padding: 0;
  outline: none !important;
  position: relative;
  z-index: 99;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.search_mobile button:hover {
  color: var(--red-color);
}

.search_mobile button svg {
  margin-right: 10px;
}

.search-box {
  position: absolute;
  right: 0;
  left: auto;
  top: 25px;
  padding: 0;
  background-color: #fff;
  display: none;
}

#searchsubmit {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 15px;
  background-color: transparent;
  outline: none !important;
  line-height: 0;
}

.search-navigation {
  position: relative;
}

/* .search-form{
  position: relative;
}
.search-form input {
  height: 30px;
  width: 0;
  padding: 0px 0px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: -6px;
  z-index: 102;
  cursor:pointer;
}
.search-form input:focus {
  width: 400px;
  z-index: 1;
  border-bottom: 1px solid #E5E5E5;
  background: #fff;
  z-index: 100 !important;
}
.search-form button {
  background:none;
  outline:none;
  width:20px;
  height:20px;
  cursor:pointer;
  border:0px;
  z-index: 101;
  position:relative;
} */

/*===============================================================================
	FOOTER
===============================================================================*/

footer {
  background-color: var(--gray-bg);
  padding: 30px 0;
}

footer h6 {
  font-family: poppins, sans-serif;
  font-size: 13px;
  letter-spacing: .5px;
  font-weight: 600;
  color: #282828;
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .footer_block ul {
  margin-bottom: 0;
}

footer .footer_block .up {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.42;
  color: var(--body-color);
  padding: 6px 0;
  display: inline-block;
}

.footer_block a {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.42;
  color: var(--gray-color);
  padding: 10px 0;
  display: inline-block;
}

.footer_block a:hover {
  text-decoration: underline;
}

footer .copyright {
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  color: var(--body-color);
  margin-top: 10px;
}

footer .socials li {
  margin: 0 auto;
}

footer .socials li:first-child {
  margin-left: 0;
}

footer .socials li:last-child {
  margin-right: 0;
}

footer .footer_block.soc_wrapper a {
  display: block;
  padding: 10px 13px;
}

footer .soc_wrapper .fab {
  color: var(--body-color);
  font-size: 16px;
}



/*===============================================================================
	BREADCRUMB
===============================================================================*/

.breadcrumb_wrapper {
  /* padding-top: 90px; */
  padding-bottom: 40px;
}

.breadcrumb {
  padding: 10.5px 15px;
  margin-bottom: 0;
  background-color: #FAFAFA;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: var(--body-color);
  content: "-";
}

.breadcrumb-item {
  font-weight: normal;
  font-size: 14px;
  line-height: inherit;
}

.breadcrumb-item a {
  color: var(--blue-color);
  transition: all .4s ease 0s;
}

.breadcrumb-item a:hover {
  color: var(--red-color);
  text-decoration: none;
}

.breadcrumb-item.active {
  color: var(--body-color);
}



/*===============================================================================
	CHECKBOX
===============================================================================*/

.checkbox {
  margin-bottom: 0;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 6px 0 0 3px;
}

.checkbox_text {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  color: var(--body-color);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.checkbox_text:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 0;
  background: transparent;
  transition: .2s;
  border: 1px solid #E5E5E5;
}

.checkbox_text:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 0;
  background: var(--blue-color);
  transition: .2s;
  opacity: 0;
}

.checkbox input:checked+.checkbox_text:before {
  background: transparent;
  border-color: var(--blue-color);
}

.checkbox input:checked+.checkbox_text:after {
  opacity: 1;
}



/*===============================================================================
	RADIO
===============================================================================*/

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio+label {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  font-size: 14px;
}

.radio+label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0px;
  width: 19px;
  height: 19px;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  background: #FFF;
}

.radio+label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--blue-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
  opacity: 0;
  transition: .2s;
}

.radio:checked+label:after {
  opacity: 1;
}

.radio:checked+label:before {
  border-color: var(--blue-color);
}

.radios {
  margin: 0 5px 5px 0;
}

.radios input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio__text {
  position: relative;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio__text:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #CDD1DA;
}

.radio__text:after {
  content: '';
  opacity: 0;
  transition: .2s;
}

.radios input:checked+.radio__text:after {
  opacity: 1;
}

.radios input:checked+.radio__text:before {
  border-color: #000;
  box-shadow: inset 0 0 0px 1px;
}




/*===============================================================================
	PAGINATION
===============================================================================*/

.pagination {
  padding-left: 15px;
}

ul.pagination {
  flex-flow: wrap;
  margin-top: 80px;
  margin-bottom: 50px;
  padding-left: 0;
}

ul.pagination li.disabled {
  background-color: transparent;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-item.active .page-link {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

.page-link {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 0;
  color: var(--blue-color);
  background-color: #fff;
  border: 1px solid #E5E5E5;
  outline: none;
}

.page-link:hover {
  color: var(--blue-color);
}

.page-link:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, .25);
}



/*===============================================================================
	Scrollbar browsers
===============================================================================*/

/* scrollbar firefox */
html {
  scrollbar-color: gray lightgrey;
  scrollbar-width: thin;
}

/*scrollbar chrome edge*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: lightgrey;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
  background-color: grey;
}

/* hidden scrollbar chrome edge*/
/* ::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

/* hidden scrollbar firefox */
/* html {
  scrollbar-width: none;
} */



/*===============================================================================
	FRONT Page
===============================================================================*/

.contents {
  min-height: calc(100Vh - 390px);
}

#slider .owl-slide {
  position: relative;
  background-color: lightgray;
}

#slider .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 20px;
  background: rgb(0 0 0 / 50%) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#slider .owl-nav [class*=owl-]:hover {
  background-color: #fff !important;
  color: rgb(0 0 0 / 50%);
}

#slider .owl-prev {
  position: absolute;
  left: auto;
  top: auto;
  right: 85px;
  bottom: 30px;
}

#slider .owl-next {
  position: absolute;
  top: auto;
  right: 30px;
  bottom: 30px;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.caption h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 112px;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  margin-bottom: 0;
}

.caption .mid {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 78px;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  margin-bottom: 0;
}

.caption .bott {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}

.caption .more {
  margin-top: 40px;
}

.more {
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  box-sizing: border-box;
}

.more:hover {
  color: var(--white-color);
  text-decoration: none;
}

.slide_btn.hvr-sweep-to-top:before {
  opacity: 1;
}

/*.slide_btn.hvr-sweep-to-top:before {*/
/*  background: var(--white-color);*/
/*}*/
/*.slide_btn.hvr-sweep-to-top:hover, .slide_btn.hvr-sweep-to-top:focus, .slide_btn.hvr-sweep-to-top:active {*/
/*  color: var(--blue-color);*/
/*}*/
.row_wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.owl-carousel .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  display: inline-block;
  cursor: pointer;
  border-radius: 0 !important;
}

.owl-carousel .owl-next {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  right: -30px;
  top: calc(50% - 20px);
}

.owl-carousel .owl-prev {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  left: -30px;
  top: calc(50% - 20px);
}

.owl-carousel .next-slide {
  background: url(assets/images/owl-right.png)no-repeat 100%;
  height: 40px;
  width: 15px;
}

.owl-carousel .prev-slide {
  background: url(assets/images/owl-left.png)no-repeat 100%;
  height: 40px;
  width: 15px;
}

.owl-theme .owl-nav {
  margin: 0;
}

.owl-carousel .owl-item .product_wrapper img,
.catalogue_wrapper .product_image img {
  margin: 0px auto;
  display: block;
}

.dropshiping_wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.gray_bg {
  background-color: var(--gray-bg);
}

.dropshiping_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.dropshiping_text .about-content {
  display: none;
}

.read_more {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  color: var(--blue-color);
  border-bottom: 1px dashed #000;
  transition: all .4s ease 0s;
}

.read_more:hover {
  color: var(--red-color);
  text-decoration: none;
  border-bottom-color: var(--red-color);
}

.product_wrapper {
  max-width: 350px;
  width: 100%;
}

.product_image {
  display: block;
  overflow: hidden;
  position: relative;
}

.product_image .button-group {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.product_image .button-group a:nth-child(1),
.product_image .button-group a:nth-child(1) svg {
  transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
}

.product_image .button-group a:nth-child(2),
.product_image .button-group a:nth-child(2) svg {
  transition: all .5s ease .15s;
  -ms-transition: all .5s ease .15s;
  -webkit-transition: all .5s ease .15s;
  -moz-transition: all .5s ease .15s;
  -o-transition: all .5s ease .15s;
}

.product_image .button-group a:first-child {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.product_image .button-group a,
.product_image .button-group a svg {
  margin-bottom: -50px;
  opacity: 0;
}

.product_image .button-group a svg {
  width: 14px !important;
}

.product_image:hover .button-group a,
.product_image:hover .button-group a svg {
  margin-bottom: 0;
  opacity: 1;
}

.product_image .button-group a+a {
  border-left: 1px solid #464646;
}

.product_image .button-group a:hover {
  background-color: #333;
  color: #fff;
}

.product-layout .cat_product_wrapper .product_image a {
  display: block;
}

.cat_product_wrapper .product_image a img {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  width: 100%;
}

.cat_product_wrapper .product_image a:hover img {
  filter: brightness(80%) !important;
  -webkit-filter: brightness(80%) !important;
}

.sales,
.hits {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ce1221;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 8px;
  padding: 6px 10px;
  z-index: 1;
}

.hits {
  background-color: green;
}

.sales:after,
.hits:after {
  content: " ";
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
  top: 0;
  right: -20px;
  border-left-color: #ce1221;
  border-width: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hits:after {
  border-left-color: green;
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
}

.play-button {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


.video-container:hover .play-button {
  opacity: 0;
}

.video-element {
  width: 100%;
  height: auto;
}

.product .product_image .video-container,
.product .product_image .video-element {
  object-fit: cover;
  height: 100% !important;
}

@media (max-width: 768px) {
  .play-button {
    display: none;
  }

  .video-element {
    autoplay: true;
  }

  .swiper video {
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    background-color: transparent;
  }
}

.product_info {
  margin-top: 15px;
}

.prod_left .price {
  color: #000;
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.old_price {
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-left: 5px;
  color: #999;
  text-decoration: line-through;
}

.prod_left a {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  color: var(--blue-color);
  transition: all .4s ease 0s;
}

.prod_left a:hover {
  color: var(--red-color);
  text-decoration: none;
}

.btn_add {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-color);
  transition: all .4s ease 0s;
}

.btn_add:hover {
  background-color: #333;
}

.btn_add path {
  fill: var(--white-color);
}

.head_block {
  margin-bottom: 20px;
  display: block;
}

.btn_block {
  margin-top: 50px;
}

.btn_all {
  width: 150px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.blue {
  color: var(--blue-color);
}

.btn_blue {
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
}

.btn_blue:hover {
  /*color:var(--blue-color);*/
  text-decoration: none;
}

.btn_blue.hvr-sweep-to-top:before {
  opacity: 1;
}

.red {
  color: var(--red-color);
}

.btn_red {
  color: var(--red-color);
  border: 2px solid var(--red-color);
}

.btn_red:hover {
  /*color:var(--red-color);*/
  text-decoration: none;
}

.btn_red.hvr-sweep-to-top:before {
  background: var(--red-color);
  opacity: .5;
}

.banner_block {
  position: relative;
}

.banner_block img {
  margin-bottom: 30px;
}

.banner_info {
  position: absolute;
  z-index: 1;
}

.banner1 {
  bottom: 22%;
  left: 12%;
}

.banner1 p {
  font-family: 'Yeseva One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 130px;
  line-height: 1.42;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#FFD363, #FFF4BD, #FFD363);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.banner1 p:after {
  background: none;
  content: attr(data-text);
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: 0px 4px 5px #000000;
}

.btn_lyellow {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #FFD363;
  border: 2px solid #FFD363;
}

.btn_lyellow:hover {
  /*color: #FFD363;*/
  text-decoration: none;
}

.btn_lyellow.hvr-sweep-to-top:before {
  background: #FFD363;
  opacity: .5;
}

.banner2 {
  top: 10%;
  left: calc(50% - 552px / 2);
  text-align: center;
}

.banner2 p {
  font-family: 'Raleway', cursive;
  font-style: normal;
  font-weight: 900;
  font-size: 130px;
  line-height: 1.42;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#F6474D, #F6474D, #FF6F73, #F6474D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.banner2 p:after {
  background: none;
  content: attr(data-text);
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.btn_lred {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #F6474D;
  border: 2px solid #F6474D;
}

.btn_lred:hover {
  /*color: #F6474D;*/
  text-decoration: none;
}

.btn_lred.hvr-sweep-to-top:before {
  background: #F6474D;
  opacity: .5;
}

.banner3 {
  top: 12%;
  right: 13%;
  text-align: right;
}

.banner3 p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  background: #CCE7FF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.banner3 p:after {
  background: none;
  content: attr(data-text);
  right: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 1);
}

.dt1 {
  font-size: 43px;
  line-height: 43px;
}

.dt2 {
  font-size: 230px;
  line-height: 230px;
}

.btn_lblue {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #CCE7FF;
  border: 2px solid #CCE7FF;
}

.btn_lblue:hover {
  /*color: #CCE7FF;*/
  text-decoration: none;
}

.btn_lblue.hvr-sweep-to-top:before {
  background: #CCE7FF;
  opacity: .5;
}

.img-carousel {
  padding-top: 15px;
}

.km7 p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #535353;
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: transparent;
}

.hc-offcanvas-nav h2 {
  font-size: 16px;
  line-height: 16px;
  padding: 14px 15px;
  color: #878787;
  font-weight: bold;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  background: var(--gray-color);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #FFF;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #FFF;
}

.hc-offcanvas-nav .nav-container {
  height: calc(100% - 60px);
  margin-top: 60px;
}

.hc-offcanvas-nav .nav-wrapper-0>.nav-content {
  padding-bottom: 0;
}

.hc-offcanvas-nav a.bold,
.hc-offcanvas-nav .nav-item.bold {
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  color: #878787;
  padding: 10px 15px;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav .nav-item {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #878787;
  padding: 5px 15px;
  text-transform: none;
}

.hc-offcanvas-nav a:hover,
.hc-offcanvas-nav .nav-item:hover {
  color: var(--red-color);
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  font-size: 12px;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before,
.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  border-top-color: #878787;
  border-left-color: #878787;
}

/* li.nav-back, li.nav-close {
    display: none;
} */

.banners {
  padding-top: 70px;
  padding-bottom: 30px;
}

.banners .banner_text {
  text-align: center;
  margin-bottom: 60px;
}

.banners .banner_text h3 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.banners .banner_text p {
  font-size: 14px;
  line-height: 22px;
}

.banners .banner-left {
  color: #535252;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.banners .banner-left .banner-figcaption {
  position: absolute;
  top: 63%;
  left: 30%;
  right: -30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  background-color: #fff;
  border: 2px solid #e8e8e8;
  z-index: 9;
}

.banners .banner-right .banner-figcaption .banner-title,
.banners .banner-left .banner-figcaption .banner-title {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 900 !important;
  margin-bottom: 10px;
}

.banners .banner-right .banner-figcaption .banner-text,
.banners .banner-left .banner-figcaption .banner-text {
  margin-bottom: 15px;
}

.banners .banner-right .banner-figcaption .banner-body,
.banners .banner-left .banner-figcaption .banner-body {
  padding: 30px 35px;
}

.banners .banner-right .banner-figure,
.banners .banner-left .banner-figure {
  position: relative;
  z-index: 1;
}

.banners .banner-right .banner-figure img,
.banners .banner-left .banner-figure img {
  object-fit: cover;
  width: 100%;
}

.banners .banner-left .banner-figure:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 30px;
  top: -30px;
  right: -30px;
  bottom: 30px;
  border: 2px solid #e8e8e8;
  z-index: -1;
}

.banners .banner-right {
  color: #535252;
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-align: right;
}

.banners .banner-right .banner-figcaption {
  position: absolute;
  top: 63%;
  right: 30%;
  left: -30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  background-color: #fff;
  border: 2px solid #e8e8e8;
  z-index: 9;
}

.banners .banner-right .banner-figure:before {
  content: ' ';
  display: block;
  position: absolute;
  left: -30px;
  top: -30px;
  right: 30px;
  bottom: 30px;
  border: 2px solid #e8e8e8;
  z-index: -1;
}

.kids_tranding_title,
.woman_tranding_title {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  padding-bottom: 30px;
  text-transform: uppercase;
  padding-left: 100px;
}

.kids_tranding_title {
  padding-left: 0;
  padding-right: 100px;
}

.trand_left .tranding_box {
  padding-left: 100px;
}

.trand_right .tranding_box {
  padding-right: 100px;
}

.tranding_box .product_image img,
.tranding_box .product_image video {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.product-layout {
  margin-bottom: 30px;
}

section.featured_blk {
  padding-top: 50px;
  padding-bottom: 20px;
}

.bb {
  border-bottom: 1px dotted #000;
  width: 100%;
  margin: 0 15px;
}

.feature-product-home .box-title,
.feature-product-home .box-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
}

.feature-product-home .box-title::after {
  margin-left: 25px;
}

.feature-product-home .box-title::before {
  margin-right: 25px;
}

.feature-product-home .box-title:after,
.feature-product-home .box-title:before {
  content: " ";
  border-top: 1px dotted #282828;
  height: 1px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.feature-product-home .box-heading:after {
  margin-left: 25px;
}

.feature-product-home .box-heading:after {
  content: " ";
  border-top: 1px dotted #282828;
  height: 1px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.feature-product-home .product_image img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.feature-product-home .product_info {
  margin-top: 0px;
}

#set_currency {
  margin-bottom: 0;
}

.menu-parent svg {
  margin-left: 5px;
}

.currency_blk {
  position: relative;
}

.currency_blk:hover .active_currency {
  color: var(--red-color);
}

.currency_blk:hover .active_currency svg path {
  fill: var(--red-color);
}

.active_currency {
  color: #fff;
  cursor: default;
  padding: 15px 15px 15px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.active_currency svg path {
  fill: #fff;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.currency_menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  padding: 0;
  margin: 0;
  transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
}

.currency_blk .currency_menu {
  transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  -webkit-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
}

.currency_blk:hover .currency_menu {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}

.currency_menu li {
  display: grid;
  list-style: none;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
}

.currency_menu li:hover {
  background-color: lightgray;
}

.currency_menu .btn {
  font-size: 14px;
  outline: none;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.currency_menu .btn:focus {
  box-shadow: none;
}

.currency_menu .btn:hover {
  font-weight: 500;
}



/*===============================================================================
	CATALOGUE Page
===============================================================================*/

.control_wrapper {
  padding-top: 40px;
  padding-bottom: 10px;
}

.control_wrapper .star {
  margin-right: 5px;
  width: 10px;
}

.leftblock_control p,
.rightblock_control p {
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: var(--body-color);
  align-self: center;
}

.rightblock_control p {
  font-size: 13px;
}

.control_wrapper .btn_control.active {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  color: #fff !important;
}

.control_wrapper .btn_control.active svg path {
  fill: #fff;
}

.badges {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
}

.btn_control_small {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  background: transparent;
  margin-left: 10px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.btn_control_small:focus {
  outline: none;
}

.btn_control_small path {
  transition: all .4s ease;
}

.btn_control_small:hover {
  border-color: var(--blue-color);
}

.btn_control_small:hover path {
  fill: var(--blue-color);
}

.btn_control_big {
  font-weight: 600;
  font-size: 13px;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  background: transparent;
  margin-left: 15px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.btn_control_big:focus {
  outline: none;
}

.page_head p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--body-color);
}

.catalogue_wrapper .product {
  margin: 25px 0;
}

.catalogue_wrapper .cat_product_wrapper {
  display: block;
  max-width: 435px;
}

.menu_categories h4 {
  font-size: 20px;
  padding-bottom: 15px;
  margin: 25px 0;
  border-bottom: 1px dotted #000;
}

.menu_categories ul ul.submenu {
  position: relative;
  opacity: 1;
  z-index: 1 !important;
  left: auto;
  right: auto;
  padding: 0 15px;
  column-count: 1;
  box-shadow: none;
  width: 100%;
  border: 0;
  max-height: 0;
  overflow: hidden;
  pointer-events: all;
  transition: max-height .4s ease;
  -webkit-transition: max-height .4s ease;
  -moz-transition: max-height .4s ease;
  -ms-transition: max-height .4s ease;
  -o-transition: max-height .4s ease;
}

.menu_categories li.show ul.submenu {
  max-height: 1200px;
}

.menu_categories li.show ul.submenu a {
  padding: 5px 0;
}

.menu_categories li.show>a {
  font-weight: bold;
}

.menu_categories li a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: poppins, sans-serif;
  font-size: 13px;
}

.menu_categories li a+ul li a {
  font-size: 11px;
}

.menu_categories li a .fa,
.menu_categories li a .svg-inline--fa {
  font-size: 10px;
  margin: 0px 5px 3px 0;
}

.menu_categories li.show a .fa-plus {
  display: none !important;
}

.menu_categories li.show a .fa-minus {
  display: inline-flex !important;
}

.menu_categories .navbar-nav li {
  margin: 0;
}

.btn_control_big svg path {
  fill: var(--red-color);
}

.btn_control_big:hover {
  border-color: var(--blue-color);
}



/*===============================================================================
	CATALOGUE Single Page
===============================================================================*/

.single_wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.single_info ul li {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: table;
  margin-bottom: 5px;
  color: var(--body-color);
}

.single_info ul li span {
  padding-left: 5px;
  display: table-cell;
}

.single_info .s_text,
.single_info .s_text p,
.single_info .main_info,
.single_info .main_info p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--body-color);
}

.single_info .s_text p,
.single_info .main_info {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 14px;
}


.button_single_wrap {
  padding-top: 28px;
}

.button_single_wrap .btn_add {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  width: 200px;
  height: 40px;
}

.btn_single {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 540px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: var(--blue-color);
  color: #FFFFFF;
  transition: all .4s ease 0s;
}

.btn_single:hover {
  color: #FFFFFF;
  background: var(--red-color);
  text-decoration: none;
}

.slider-single>div:nth-child(1n+2) {
  display: none
}

.slider-single.slick-initialized>div:nth-child(1n+2) {
  display: block
}


.slider-single div {
  height: 600px;
}

.slider-nav {
  margin-top: 15px;
}

.slider-nav div.slick-slide {
  width: 100px !important;
  height: 100px !important;
  padding: 0px 2px;
}

.slider-single img {
  height: 600px;
  object-fit: cover;
  margin: 0 auto;
}

.slider-nav img {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  margin-right: 15px;
}

.slider-nav:not(:last-child) img {
  margin-right: 15px;
}

.slider-nav .slick-slide {
  cursor: pointer;
}

.slider-nav .is-active img {
  border: 3px solid var(--blue-color);
  box-shadow: inset 0 0 0 1px #fff;
}

.single-product .button_single_wrap a {
  font-size: 12px;
}

.single-product .btn_all {
  width: 200px;
  height: 40px;
}


/*===============================================================================
	TRACK Page
===============================================================================*/

.pills_wrapper button.nav-link {
  border: 0;
}

.pills_wrapper button.nav-link:focus {
  outline: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--blue-color);
}

.ttn {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--body-color);
  padding-top: 10px;
  margin-bottom: 10px;
}

/* .date-filter .ttn {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
} */

.date-filter ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-bottom: 0;
}

.date-filter ul li {
  margin-bottom: 5px;
  cursor: pointer;
}

.date-filter ul li:hover {
  background-color: buttonface;
}

#pills-tabTTN {
  padding-bottom: 20px;
}

.track_search_wrapper,
.pills_wrapper {
  margin-top: 20px;
}

.search_content {
  margin-bottom: 50px;
}

.search_content button {
  margin-bottom: 30px;
}

/* .t_table {
  display: table;
  margin-bottom: 15px;
} */

.t_cell {
  margin-bottom: 20px;
}

.t_letter {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue-color);
  margin-bottom: 10px;
}



/*===============================================================================
	Order_text Page
===============================================================================*/

.order_text_wrapper {
  margin-bottom: 50px;
}

.order_text_wrapper h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--body-color);
  margin: 10px 0 15px;
  display: inline-block;
}

.order_text_wrapper h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--body-color);
  margin: 10px 0 15px;
  display: inline-block;
}

.order_text_wrapper p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--body-color);
}

.order_text_wrapper a {
  color: var(--blue-color);
  transition: all .4s ease 0s;
  text-decoration: underline;
}

.order_text_wrapper a:hover {
  color: var(--red-color);
}

.order_text_wrapper ul {
  list-style: none;
  padding-left: 0;
}

.order_text_wrapper ul li,
.page_text_wrapper ul li {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--body-color);
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}

.order_text_wrapper ul li:before,
.page_text_wrapper ul li:before {
  content: '';
  width: 13px;
  height: 1px;
  position: absolute;
  background-image: url('assets/images/line.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 16px;
}

.order_text_wrapper ol li,
.page_text_wrapper ol li:before {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--body-color);
  position: relative;
  margin-bottom: 5px;
}



/*===============================================================================
	Contacts Page
===============================================================================*/

.contact_left a {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--body-color);
  transition: all .4s ease;
}

.contact_left a:hover {
  color: var(--red-color)
}

.contact_left ul {
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact_left ul li {
  margin-right: 20px;
}

.contact_left ul li a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_left ul li a path {
  transition: all .4s ease;
}

.contact_left ul li a:hover path {
  fill: var(--blue-color);
}

.contact_left p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--body-color);
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  font-weight: normal;
  font-size: 14px;
  color: var(--body-color);
  height: calc(1.5em + .75rem + 4px);
  border: 1px solid #E5E5E5;
  border-radius: 0;
}

.form-control:focus {
  color: var(--body-color);
  background-color: #fff;
  border-color: rgba(45, 140, 227, 1);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(45, 140, 227, 0.25);
  ;
}

.effect::-webkit-input-placeholder {
  color: var(--body-color);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.effect::-moz-placeholder {
  color: var(--body-color);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.effect:-moz-placeholder {
  color: var(--body-color);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.effect:-ms-input-placeholder {
  color: var(--body-color);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.effect:focus::-webkit-input-placeholder {
  color: var(--body-color);
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.effect:focus::-moz-placeholder {
  color: var(--body-color);
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.effect:focus:-moz-placeholder {
  color: var(--body-color);
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.effect:focus:-ms-input-placeholder {
  color: var(--body-color);
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

.block_btn {
  margin-top: 20px;
}

.submit {
  font-weight: bold;
  font-size: 16px;
  line-height: inherit;
  color: #FFFFFF;
  width: 100%;
  max-width: 255px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-self: center;
  background: var(--blue-color);
  border: 0;
  margin-left: auto;
  text-transform: uppercase;
  outline: none;
  transition: all .4s ease 0s;
}

.submit:hover {
  background: var(--red-color);
}

.contact_left figure {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.contact_left figure img {
  width: 20px;
}

.contact_left figure+figure {
  margin-left: 20px;
}



/*===============================================================================
	Cart Page
===============================================================================*/
#cart .copy-link-to-cart-item {
  font-size: 12px;
}

/* .table th {
  border-top: 0;
} */

.table td,
.table th {
  vertical-align: middle;
  padding: .75rem 10px;
}

.table th {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #9C9898;
  border-bottom: 1px solid #E5E5E5 !important;
}

.table td {
  border-top: 1px solid #E5E5E5 !important;
}

/* .table .cart_img {
  padding-left: 0;
} */

.table p {
  margin-bottom: 0;
}

.table .cart_img img {
  height: auto;
  width: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.table .text_prod {
  font-weight: 600;
  font-size: 18px;
  color: var(--body-color);
}

.table .cart_prod {
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
}

.table .price {
  font-weight: normal;
  font-size: 18px;
  color: var(--body-color);
}

.table .remove a {
  display: block;
  line-height: 0;
}

.quantity,
.size {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  border: 1px solid #E5E5E5;
  margin-right: 10px;
}

.quantity .plus,
.quantity .minus,
.quantity .chick {
  display: inline-block;
}

.quantity .chick {
  margin: 0;
  border: 0;
  height: 58px;
}

.quantity .chick input,
.size input {
  height: 58px !important;
}

.quantity input[type='text'],
.size input[type='text'] {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  color: #9e9e9e;
  text-align: center;
  width: 30px;
  box-shadow: none;
  text-indent: 0;
  padding: 0;
  background-color: transparent;
}

.size input[type='text'] {
  width: 92px;
}

.quant_buttons {
  flex-direction: column;
}

.quantity .q_up,
.quantity .q_down {
  display: block;
  padding: 7px 9px 7px;
  line-height: 0;
  margin: 5px 4px 0 0;
}

.quantity .q_up path,
.quantity .q_down path {
  transition: all .4s ease;
}

.quantity .q_up:hover path,
.quantity .q_down:hover path {
  stroke: var(--blue-color);
}

.quantity .q_up {
  border: 1px solid #fff;
  background-color: #E5E5E5;
}

.quantity .q_down {
  border: 1px solid #fff;
  background-color: #E5E5E5;
}

.blk_btn_cart {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn_cart {
  width: 220px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #000;
  transition: all .4s ease 0s;
}

.btn-primary:hover {
  background: #333;
  border: #333;
  color: #fff;
}

.btn-primary {
  width: 140px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: var(--blue-color);
  color: #fff;
  transition: all .4s ease 0s;
  border-color: #000;
  border-radius: 0px;
}

.btn-primary.register {
  width: 150px;
}

.all_price {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: var(--body-color);
  /* margin-right: 30px; */
}

.blk_btn_cart .chat_btn {
  display: flex;
  align-items: center;
}

.fancybox-container .mob_prod_info {
  /* height: 100%; */
  padding: 45px 15px 15px;
}

.quant_prod {
  white-space: nowrap;
}

.cart_table {
  margin-bottom: 20px;
}

.cart_buttons {
  gap: 15px;
}

.cart_buttons .btn_add {
  color: #fff;
}

.form-radio+.form-radio {
  margin-top: 6px;
}

.form-radio .radio+label {
  font-weight: normal;
}



/*===============================================================================
	Fancybox
===============================================================================*/

.fancybox-content {
  max-width: 800px;
  width: 100%;
  padding: 0;
}

.single_content {
  padding: 20px;
}

.single_content ul li {
  font-size: 18px;
  line-height: 30px;
  display: table;
  margin-bottom: 5px;
  color: var(--body-color);
}

.single_content .s_text p {
  margin-bottom: 0;
}

.single_content .s_num {
  font-weight: 600;
  font-size: 22px;
  color: #9C9898;

}



/*===============================================================================
	Select2
===============================================================================*/

.select2-container {
  display: block;
}

.select2-container .select2-selection--single {
  font-size: 14px;
  height: 37px;
  border: 1px solid #E5E5E5;
  border-radius: 0;
  outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 10px;
  padding-right: 20px;
  line-height: 35px;
  color: var(--body-color);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
}

.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #E5E5E5;
  border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: black;
  color: #fff;
}

.select2-container--default .select2-results__option--selected {
  background-color: lightgray;
  color: #fff;
}

.select2-search__field:focus-visible {
  outline: none;
}



/*===============================================================================
	Typehead
===============================================================================*/

.twitter-typeahead {
  display: block !important;
}

.tt-dataset {
  background-color: #fff;
}

.tt-menu {
  right: 0;
  max-height: 199px;
  overflow: auto;
  border: 1px solid #000;
}

.tt-suggestion.tt-selectable {
  cursor: pointer;
  padding: 2px 12px;
}

.tt-suggestion.tt-selectable:hover {
  background-color: #000;
  color: #fff;
}

.typeahead:focus {
  box-shadow: none !important;
}



/*===============================================================================
	Review Page
===============================================================================*/

.review_top {
  margin-top: 40px;
}

.review_top .all_reviews {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--body-color);
  margin-bottom: 10px;
}

.border {
  border: 1px solid;
  display: flex;
  padding: 30px 40px;
}

.cell {
  display: inline-block;
}

.review_image {
  width: 100px;
  margin-right: 40px;
}

.review_content {
  width: 100%;
}

.review_form {
  margin-bottom: 40px;
}

.review_form .user_name {
  margin-bottom: 15px;
}

.review_form textarea {
  resize: none;
  width: 100%;
  margin-bottom: 30px;
}

.user_text p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--body-color);
}

.time_data p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #9C9898;
  margin-bottom: 0;
}

.review_wrapper .border {
  margin-bottom: 40px;
}

.review_wrapper .border.answer {
  margin-top: -20px;
}

.review .pagination {
  margin-bottom: 30px;
}

.review_form .jq-selectbox__select,
.review_form .jq-file__name {
  height: 38px;
  box-shadow: none;
  border: 1px solid #E5E5E5;
  border-radius: 0;
  font-size: 14px;
  padding: 2px 46px 2px 12px;
  color: var(--blue-color);
}

.review_form .jq-selectbox__trigger,
.review_form .jq-file__browse {
  border-left: 1px solid #E5E5E5;
}

.review_form .jq-file {
  max-width: 450px;
  width: 100%;
  box-shadow: none;
  border-radius: 0;
}

.review_form .jq-selectbox__trigger-arrow {
  top: 16px;
}

.review_form .jq-file__browse {
  padding: 2px 20px;
  border-radius: 0;
  font: 14px/32px 'Poppins', sans-serif;
}

.review_form .jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid rgba(45, 140, 227, 1);
  box-shadow: 0 0 0 0.2rem rgba(45, 140, 227, .25);
}

.review_form .jq-file.focused {
  box-shadow: 0 0 0 0.2rem rgba(45, 140, 227, .25);
}

.review_form .jq-file.focused .jq-file__name {
  border: 1px solid rgba(45, 140, 227, 1);
}

.attachment img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/*===============================================================================
	Info+ Page
===============================================================================*/

.page_text_wrapper img {
  margin-bottom: 15px;
}

.slider-nav .slick-track {
  transform: inherit !important;
}

.m15 {
  margin: 0 15px !important;
}

.mySwiper2 {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  height: auto;
}

.mySwiper {
  box-sizing: border-box;
  padding: 10px 20px;
}

.mySwiper .swiper-slide {
  height: auto;
  opacity: 0.4;
}

.mySwiper .swiper-slide img,
.mySwiper .swiper-slide video {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.mySwiper .swiper-wrapper .swiper-slide div {
  display: block;
  cursor: pointer;
  width: 100%;
  max-height: 100px;
}

.mySwiper .swiper-wrapper .swiper-slide img {
  position: relative;
  z-index: -1;
}

.mySwiper .swiper-wrapper .swiper-slide-thumb-active div {
  box-shadow: inset 0px 0px 0px 3px var(--blue-color);
}

.mySwiper2 .swiper-button-next:after,
.mySwiper2 .swiper-button-prev:after {
  color: #fff;
  opacity: .5;
}

.newmsg {
  position: absolute;
  top: -5px;
  right: -7px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 12px;
  width: 15px;
  height: 15px;
  box-shadow: 0px 0px 3px var(--red-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--red-color);
}

.chat_button .newmsg {
  position: absolute;
  top: auto;
  bottom: 23px;
  right: 22px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 18px;
  width: 15px;
  height: 15px;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--red-color);
}

.rightblock_price {
  margin-left: 20px;
}

/* spoiler */
/* .product-description {
    display: none;
  } */
/* end spoiler */

/* show more */
.product-description {
  max-height: 25px;
  overflow: hidden;
  transition: max-height .4s ease;
  -webkit-transition: max-height .4s ease;
  -moz-transition: max-height .4s ease;
  -ms-transition: max-height .4s ease;
  -o-transition: max-height .4s ease;
}

.product_more.show+.product-description {
  max-height: 300px;
}

.product_more i,
.product_more .svg-inline--fa {
  font-size: 10px;
}

.product_more.show i,
.product_more.show .svg-inline--fa {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/* end show more */

.copy-link-to-cart-item,
.copy-link-to-cart-item:focus {
  outline: none;
  box-shadow: none;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.copy-link-to-cart-item:hover {
  color: var(--blue-color);
}

#back-top {
  position: fixed;
  bottom: 90px;
  right: 25px;
  width: 40px;
  height: 40px;
  line-height: 45px;
  background: #fff;
  border: 1px solid #282828;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  z-index: 9998;
}

#back-top:hover {
  background: #333;
  border-color: #fff;
}

#back-top span {
  color: #282828;
  line-height: 1;
}

#back-top span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#back-top:hover span svg path {
  fill: #fff;
}

.card_wrap {
  border: 0;
}

.card-body .col-form-label {
  font-weight: bold;
  padding-top: 0;
  line-height: 1.2;
}

.card-body .col-form-label span {
  color: red;
}

.card-body .inpt_blk input:focus,
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: rgba(0, 0, 0, 1);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.card-body .col-form-label:hover+.inpt_blk input,
.card-body .inpt_blk input:hover,
.form-group input:hover,
.form-group select:hover,
.form-group textarea:hover {
  border-color: rgba(0, 0, 0, 1);
}

.login_text {
  font-size: 18px;
  padding: 7px 0;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

#contact_telegram {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9998;
}

#contact_telegram img,
#contact_telegram svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}

.select_block label {
  font-weight: bold;
}

.select_block label span {
  color: red;
}

.select_block .form-group:last-child {
  margin-bottom: 0;
}

.single_info .prod_price {
  font-size: 18px;
  margin: 25px 0 15px;
}

.single_info .s_text {
  overflow: hidden;
  max-height: 100px;
  transition: max-height .4s ease;
  -webkit-transition: max-height .4s ease;
  -moz-transition: max-height .4s ease;
  -ms-transition: max-height .4s ease;
  -o-transition: max-height .4s ease;
}

.single_info .s_text.show {
  max-height: 1000px;
}

.single_info .showmore {
  font-size: 14px;
  padding: 0;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  border-bottom: 1px dotted #000;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.single_info .showmore .fa-chevron-down {
  font-size: 10px;
}

.single_info .showmore.open .fa-chevron-down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.disabled {
  pointer-events: none;
  background-color: gray;
}

.checkout_title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.checkout_form label {
  font-weight: bold;
}

.product-size-color {
  padding: 10px 0 0;
}

.product-size-color strong+strong {
  margin-left: 10px;
}

#chat-order,
#btnSpoiler {
  background-color: #fff;
}

#chat-order:focus,
#btnSpoiler:focus {
  outline: none;
}

#ukrCode,
#ukrAddr,
#checkRow,
#btnOrder {
  display: none;
}

#cartTitle,
#chkTitle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

#cartTitle i,
#chkTitle i,
#cartTitle .svg-inline--fa,
#chkTitle .svg-inline--fa {
  font-size: 10px;
}

#cartTitle.closed i,
#chkTitle.closed i,
#cartTitle.closed .svg-inline--fa,
#chkTitle.closed .svg-inline--fa {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.product_delete {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 2;
}

.product_delete a {
  display: block;
  background: #000;
  border: 1px solid #000;
  padding: 10px;
}

.product_delete a:focus {
  outline: none;
}

.product_delete a:active {
  border-color: #000;
}

.product_delete a i {
  color: white;
  line-height: 11px;
  font-size: 16px;
}

.blk_btn_cart .cart_buttons .btn_hvr {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
}

.blk_btn_cart .cart_buttons .btn_hvr:hover {
  color: #fff;
}

.blk_btn_cart .cart_buttons #btnSpoiler.btn_black,
.blk_btn_cart .cart_buttons #chat-order.btn_black,
.blk_btn_cart .cart_buttons .btn_black {
  background-color: #000;
  color: #fff;
}

.blk_btn_cart .cart_buttons #btnSpoiler.btn_black:hover,
.blk_btn_cart .cart_buttons #chat-order.btn_black:hover,
.blk_btn_cart .cart_buttons .btn_black:hover {
  background-color: #333;
}

.plyr--full-ui {
  height: 600px;
  width: 100%;
}

.plyr__video-wrapper {
  background: transparent !important;
}

.plyr__control.plyr__control--overlaid {
  display: none !important;
}

.custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

.custom-play-button.hidden {
  opacity: 0;
  pointer-events: none;
}